:root {
  /* font-family */
  --monserat-family: "Montserrat", sans-serif;
  /* font-weight  */
  --seven-weigth: 700;
  /* padding:  ; */
  --first-padding: 50px 60px 20px 60px;
  --second-padding: 48px 56px 19px 56px;
  --three-padding: 40px 50px 20px 56px;
  --fors-padding: 24px 24px 0px;
}
